* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.principal
{
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 150px auto;
  background-color: whitesmoke;
  color: rgb(131, 121, 121);
}
.form-1
{
  max-width: auto;
  display: flex;    
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 3%;
  background-color: whitesmoke;
    
}

.botao
{
  justify-content: center;display: flex;
  border-radius: 6px;
  background-color: #eb3752;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  

}
input
{

  margin-bottom: 15px;
  padding: 7px;
  margin-top: 6px;
  width: 100%;
    
}
.data
{
   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  align-items:flex-end;
  max-width: 100%;
    
}
.menor
{
  display: flex;
  width: 50% 50%;
}
.entrar
{
  text-align: center;
  padding-top: 2px;
}
