
.data
{
   
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:stretch;
  max-width: 100%;
  max-height: 100%;
    
}
.preco
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3%;
}
.menor-1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;

}
.inp 
{
  width: 272px;
}
input
{
  margin-bottom: 15px;
  padding: 7px;
  margin-top: 6px;
  
}
.input-1
{
  height: 60px;
}
.entrar
{
  padding-top: none;
}
.botao
{
  justify-content: center;
  display: flex;
  border-radius: 6px;
  background-color: #eb3752;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;  

}
@media screen and (max-width: 390px)
{
  
  
  .data
    {
      display: block;
      justify-content: center;
    }
    .marca
    {
      display: block;
      justify-content: center;
    }
}