form
{
  width: 400px;
  
}
.data
{
   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  margin-top: auto;
    
}
.menor
{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 3px;
  
}
.p1
{
  display: flex;
  justify-content:space-between ;
  height: 32px;
  gap: 4px;
  width: 50px;
  
}

.inp 
{
  width: 280px;
}
.inp-0
{
  width: 100px;
}
input
{
  margin-bottom: 15px;
  padding: 7px;
  margin-top: 6px;
  
}
.input-1
{
  height: 60px;
  width: 100%;
  
}
.quant
{
  width: 80px;
  margin-bottom: 0px;
}
.select
{
  width: 140px;
  height: 32px;
  margin-top: 6px;
  
}
.botao
{
  justify-content: center;
  display: flex;
  border-radius: 6px;
  background-color: #eb3752;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  cursor: pointer; 
  text-align: center;
  font-weight: bold;
  gap: 4px;
  font-family: "Mitr", sans-serif;

}
.botao:hover
{
  transform: scale(1.01);
  transition: all 0.5s;
}
.foto
{
  margin-top: 15px;
  align-items: left;
}
.entrar
{
  font-family: "Mitr", sans-serif;
}
@media screen and (max-width: 500px)
{ 
  .logo 
  {
    width: 80%;
  }
  .entrar
  {
    margin-top: 5px;
  }

  form
  {
    width: 80%;
  }
  .data
    {
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
    } 
  .menor
  {
    width: 100%;
  }
  .inp
  {
    width: 100%;
  }
  .inp-0
  {
    width: 100%;
  }
  p
  {
    display: block;
    width: 100%;
  }
  .quant
  {
    display: block;
    width: 100%;
  }
  .select
  {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 15px;
  }
  .botao
  {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 390px)
{
  .logo
  {
    width: 70%;
  }
  form
  {
    width: 75%;
  }
  .botao
  {
    margin-bottom: 15px;
  }

}