
.preco
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3%;
  width: 50% 50%;
}
.marca
{

  display: flex;
  width: 40% 30% 30%;
  background-color: aqua;
}
.input-1
{
  padding: 30px;
}

