footer, nav {
    display: none;
}
.container {
    grid-template-areas:
    "header"
    "main";
  grid-template-columns: auto;
  grid-template-rows: 150px auto
}

.link{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.login-entrar{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.Esqueceu-senha{
    text-align: right;
    margin-bottom: 0 auto;
    text-decoration: none;
}

.teste{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.ficar-conectado{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.conectado{
    width: 15px;
}

.tirar-decoracao{
    color: #727272;
}

.paragrafo-topo{
    margin-top: 8px;
}

.logo-imagem{
    width: 50%;
}

@media screen and (max-width: 870px) {
    .forms-salvar{
        width: 47.6%;
        height: 35px;
    }

    .logo{
        width: 50%;
    }

    .logo-imagem{
        width: 70%;
    }
}

@media screen and (max-width: 660px){
    .login-entrar{
        width: 70%;
    }

    .forms-salvar{
        width: 70%;
        height: 35px;
    }

    .logo-imagem{
        width: 90%;
    }
}

@media screen and (max-width: 450px){
    .login-entrar{
        width: 100%;
    }

    .forms-salvar{
        width: 100%;
        height: 35px;
    }

    .ficar-conectado{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .logo{
        width: 75%;
        display: block;
    }

    .logo-imagem{
        width: 75%;
    }
    
}

@media screen and (max-width: 420px){
    .ficar-conectado{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }


    
}