main {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  padding: 10px;

}
.div-menu{
  width: 50%;
}
.div-btn-filtro-responsivo{
  /* background-color: #ff7186; */
  display: flex;
  height: 50px;
  width: 100%;
  position: absolute;
  justify-content: end;
  display: none;
  margin: 10px;
}
.titulo-filtro-responsivo  {
  margin: 0 8px;
  /* padding: 5px; */
}
.btn-filtro-responsivo   {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: initial;
  color: #ff7186;
  cursor: pointer;
  height: max-content;
  margin-right: 5px;

}
.filtro-responsivo{
  position: absolute;
  background-color: #ffffff;
  width: 48%;
  height: 100%;
  right: 0;
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}
.div-btn-aplicar-filtro{
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 100%;
}
.btn-aplicar-filtro {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #eb3752;
  font-family: "Mitr", sans-serif;
  cursor: pointer;
}
.filtro {
  margin-top: 50px;
  margin-bottom: 15px;
  width: 20%;
}
.form-filtro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0 auto;
}
.div-filtro{
    padding: 10px 10px;
    border: none;
    border-bottom: 1px dotted rgb(179, 178, 178);
    display: flex;
    flex-direction: column;
    margin: 20px; 
}
.div-filtro div {
    margin: 2px;
}
.legenda-filtro {
    font-size: 16px;
    font-weight: bold;
}
.input-filtro{
  accent-color: #ff7186;
}
.produtos {
  width: 80%;
}
@media screen and (max-width: 860px) {
  .card {
    width: 29%;
  }
  .filtro {
    width: 30%;
  }
  .produtos {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .filtro {
    display: none;
  }
  .produtos {
    width: 100%;
  }
  .div-btn-filtro-responsivo{
    display: flex;
  }
}
@media screen and (max-width: 545px) {
    .card {
    width: 40%;
    }
  }