.logo
{
  width: 40%;
}
.titulo
{
    color: #7b7b7b;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Mitr", sans-serif;

}
.principal
{
    width: 100%;
    align-items: center;
    
}
.principal-1
{
    width: 60%;
    height: 40% 40% 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(216, 216, 216);
}
.pote
{
  width: 150px;
  height: 150px;
}
.bt
{
    width: 20%;
}
.boton
{
    justify-content: center;
    display: flex;
    border-radius: 6px;
    background-color: #eb3752;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    gap: 4px;
    margin-bottom: 5px;
    font-family: "Mitr", sans-serif;

}
.boton:hover, .boton-1:hover
{
    transform: scale(1.01);
    transition: all 0.5s;
}
.boton-1
{
    justify-content: center;
    display: flex;
    border-radius: 6px;
    background-color: #24789D;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-family: "Mitr", sans-serif;
}
.boton-2
{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: #24789D;
    border: none;
    color: white;
    padding: 15px;
    width: 35%;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;
    height: 36px;
    align-items: center;
    gap: 4px;
    font-family: "Mitr", sans-serif;
}
.boton-2:hover
{
  transform: scale(1.01);
  transition: all 0.5s;
}
.texto
{
    font-size: 20px;
}
a
{ 
  text-decoration: none;
}

@media screen and (max-width: 900px)
{
  .principal
  {
    width: 100%;
  }
  .principal-1
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

  }
  .img-compras
  {
    width: 80%;
  }
  .img-itens
  {
    width: 85%;
    justify-content: center;
    align-items: center;
  }
  .data-compras
  {
    width: 60%;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
    

  }
  
  .boton-2
  {  
      width: 50%;
      margin-bottom: 15px;
  }

}  
@media screen and (max-width: 500px)
{
  .principal
  {
    width: 100%;
  }
  .principal-1
  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

  }
  .titulo
  {
    font-size: 22px;

  }
  .data-compras
  {
    width: 60%;
  }
  .boton-2
  {  
      width: 50%;
  }
  .img-compras
  {
    width: 70%;
  }
  .img-itens
  {
    font-size: 15px;
  }

}
@media screen and (max-width: 380px)
{
  .logo{
    width: 50%;
  }
  .titulo
  {
    font-size: 20px;

  }
  .img-itens
  {
    font-size: 17px;
    margin-left: 1px;
  }
  h2

  {
    font-size: 25px;
  }
  .boton-2
  {
    margin-bottom: 15px;
    padding: 22px;
    
  }
  .pote
  {
   width: 130px;
   height: 130px;
  }
  .img-compras
  {
    width: 70%;
  }
  .icone
  {
    width: 25px;
    height: 25px;
  }
}


